body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid transparent;
}

body blockquote {
  background-color: initial;
}

body code {
  color: inherit;
}

body code > div {
  background: none;
}

body.showEditorSelection .code-line .code-line:hover:before {
	border-left: none;
}

body p,
body blockquote,
body ul,
body ol,
body dl,
body table,
body pre {
  margin-top: 16px;
  margin-bottom: 16px;
}
